{
    "openapi": "3.1.0",
    "info": {
        "title": "Smart Restaurant Campus API",
        "description": "Multi-tenant restaurant platform. Every business object belongs to one restaurant (tenant) and optionally one branch; money is an integer in tiyin (1 so'm = 100 tiyin); every failure is the one error envelope in three languages.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://mypos.tashmedunitf.uz/api"
        }
    ],
    "paths": {
        "/health": {
            "get": {
                "operationId": "health",
                "tags": [
                    "health"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health/live": {
            "get": {
                "operationId": "health.live",
                "tags": [
                    "health"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health/ready": {
            "get": {
                "operationId": "health.ready",
                "tags": [
                    "health"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/admin/login": {
            "post": {
                "operationId": "api.v1.admin.login",
                "tags": [
                    "admin"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics": {
            "get": {
                "operationId": "api.v1.analytics.info",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/abc": {
            "get": {
                "operationId": "api.v1.analytics.abc",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/branches": {
            "get": {
                "operationId": "api.v1.analytics.branches",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/cashflow": {
            "get": {
                "operationId": "api.v1.analytics.cashflow",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/channels": {
            "get": {
                "operationId": "api.v1.analytics.channels",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/control": {
            "get": {
                "operationId": "api.v1.analytics.control",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/dashboard": {
            "get": {
                "operationId": "api.v1.analytics.dashboard",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/food-cost": {
            "get": {
                "operationId": "api.v1.analytics.food-cost",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/labour-by-hour": {
            "get": {
                "operationId": "api.v1.analytics.labour-by-hour",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/menu-engineering": {
            "get": {
                "operationId": "api.v1.analytics.menu-engineering",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/peak-hours": {
            "get": {
                "operationId": "api.v1.analytics.peak-hours",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/profit-loss": {
            "get": {
                "operationId": "api.v1.analytics.profit-loss",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/report-columns": {
            "get": {
                "operationId": "api.v1.analytics.reports.columns",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/reports/custom": {
            "post": {
                "operationId": "api.v1.analytics.reports.custom",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/reports/custom/export": {
            "post": {
                "operationId": "api.v1.analytics.reports.custom.export",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/reports/{kind}": {
            "get": {
                "operationId": "api.v1.analytics.reports.show",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "name": "kind",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/sales": {
            "get": {
                "operationId": "api.v1.analytics.sales",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/schedules": {
            "get": {
                "operationId": "api.v1.analytics.schedules.index",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.analytics.schedules.store",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "reports.export",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/schedules/{schedule}": {
            "delete": {
                "operationId": "api.v1.analytics.schedules.destroy",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "name": "schedule",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "reports.export",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "api.v1.analytics.schedules.update",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "name": "schedule",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "reports.export",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/schedules/{schedule}/send": {
            "post": {
                "operationId": "api.v1.analytics.schedules.send",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "name": "schedule",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "reports.export",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/summary": {
            "get": {
                "operationId": "api.v1.analytics.summary",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/audit": {
            "get": {
                "operationId": "api.v1.audit.index",
                "tags": [
                    "audit"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "audit.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/audit/facets": {
            "get": {
                "operationId": "api.v1.audit.facets",
                "tags": [
                    "audit"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "audit.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/audit/{audit}": {
            "get": {
                "operationId": "api.v1.audit.show",
                "tags": [
                    "audit"
                ],
                "parameters": [
                    {
                        "name": "audit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "audit.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/context": {
            "get": {
                "operationId": "api.v1.auth.context",
                "tags": [
                    "auth"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/forgot-password": {
            "post": {
                "operationId": "api.v1.auth.forgot",
                "tags": [
                    "auth"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/login": {
            "post": {
                "operationId": "api.v1.auth.login",
                "tags": [
                    "auth"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/logout": {
            "post": {
                "operationId": "api.v1.auth.logout",
                "tags": [
                    "auth"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/me": {
            "get": {
                "operationId": "api.v1.auth.me",
                "tags": [
                    "auth"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/register": {
            "post": {
                "operationId": "api.v1.auth.register",
                "tags": [
                    "auth"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/reset-password": {
            "post": {
                "operationId": "api.v1.auth.reset",
                "tags": [
                    "auth"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/board": {
            "get": {
                "operationId": "api.v1.board.info",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/board/banners": {
            "get": {
                "operationId": "api.v1.board.banners.index",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.board.banners.store",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.create",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/board/banners/{banner}": {
            "delete": {
                "operationId": "api.v1.board.banners.destroy",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "name": "banner",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.delete",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "api.v1.board.banners.update",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "name": "banner",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/board/columns": {
            "get": {
                "operationId": "api.v1.board.columns.index",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.board.columns.store",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.create",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/board/columns/reorder": {
            "post": {
                "operationId": "api.v1.board.columns.reorder",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/board/columns/{column}": {
            "delete": {
                "operationId": "api.v1.board.columns.destroy",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "name": "column",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.delete",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "api.v1.board.columns.update",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "name": "column",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/board/playlist": {
            "get": {
                "operationId": "api.v1.board.playlist.index",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.board.playlist.store",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.create",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/board/playlist/reorder": {
            "post": {
                "operationId": "api.v1.board.playlist.reorder",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/board/playlist/{screen}": {
            "delete": {
                "operationId": "api.v1.board.playlist.destroy",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "name": "screen",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.delete",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "api.v1.board.playlist.update",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "name": "screen",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/board/preview": {
            "get": {
                "operationId": "api.v1.board.preview",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/board/push": {
            "post": {
                "operationId": "api.v1.board.push",
                "tags": [
                    "board"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "board.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/commands/log": {
            "post": {
                "operationId": "api.v1.bots.commands.log",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/feedback": {
            "post": {
                "operationId": "api.v1.bots.feedback.store",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/calls": {
            "get": {
                "operationId": "api.v1.bots.me.calls",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/loyalty": {
            "get": {
                "operationId": "api.v1.bots.me.loyalty",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/orders": {
            "get": {
                "operationId": "api.v1.bots.me.orders",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/ready": {
            "get": {
                "operationId": "api.v1.bots.me.ready",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/shift": {
            "get": {
                "operationId": "api.v1.bots.me.shift",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/tables": {
            "get": {
                "operationId": "api.v1.bots.me.tables",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/menu": {
            "get": {
                "operationId": "api.v1.bots.menu",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/users/link": {
            "post": {
                "operationId": "api.v1.bots.users.link",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/users/{telegramId}": {
            "get": {
                "operationId": "api.v1.bots.users.show",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "telegramId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/branches": {
            "get": {
                "operationId": "api.v1.branches.index",
                "tags": [
                    "branches"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.branches.store",
                "tags": [
                    "branches"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "branches.manage",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/branches/{branch}": {
            "delete": {
                "operationId": "api.v1.branches.destroy",
                "tags": [
                    "branches"
                ],
                "parameters": [
                    {
                        "name": "branch",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "branches.manage",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "api.v1.branches.show",
                "tags": [
                    "branches"
                ],
                "parameters": [
                    {
                        "name": "branch",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "api.v1.branches.update",
                "tags": [
                    "branches"
                ],
                "parameters": [
                    {
                        "name": "branch",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "branches.manage",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm": {
            "get": {
                "operationId": "api.v1.crm.info",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm/accounts": {
            "get": {
                "operationId": "api.v1.crm.accounts.index",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm/campaigns": {
            "get": {
                "operationId": "api.v1.crm.campaigns.index",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.crm.campaigns.store",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.create",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm/campaigns/estimate": {
            "post": {
                "operationId": "api.v1.crm.campaigns.estimate",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm/campaigns/{campaign}": {
            "delete": {
                "operationId": "api.v1.crm.campaigns.destroy",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "name": "campaign",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
[...]
