{
    "openapi": "3.1.0",
    "info": {
        "title": "Smart Restaurant Campus API",
        "description": "Multi-tenant restaurant platform. Every business object belongs to one restaurant (tenant) and optionally one branch; money is an integer in tiyin (1 so'm = 100 tiyin); every failure is the one error envelope in three languages.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://mypos.tashmedunitf.uz/api"
        }
    ],
    "paths": {
        "/health": {
            "get": {
                "operationId": "health",
                "tags": [
                    "health"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health/live": {
            "get": {
                "operationId": "health.live",
                "tags": [
                    "health"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health/ready": {
            "get": {
                "operationId": "health.ready",
                "tags": [
                    "health"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/admin/login": {
            "post": {
                "operationId": "api.v1.admin.login",
                "tags": [
                    "admin"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics": {
            "get": {
                "operationId": "api.v1.analytics.info",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/abc": {
            "get": {
                "operationId": "api.v1.analytics.abc",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/channels": {
            "get": {
                "operationId": "api.v1.analytics.channels",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/dashboard": {
            "get": {
                "operationId": "api.v1.analytics.dashboard",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/food-cost": {
            "get": {
                "operationId": "api.v1.analytics.food-cost",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/peak-hours": {
            "get": {
                "operationId": "api.v1.analytics.peak-hours",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/analytics/sales": {
            "get": {
                "operationId": "api.v1.analytics.sales",
                "tags": [
                    "analytics"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "analytics.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/audit": {
            "get": {
                "operationId": "api.v1.audit.index",
                "tags": [
                    "audit"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "audit.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/audit/facets": {
            "get": {
                "operationId": "api.v1.audit.facets",
                "tags": [
                    "audit"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "audit.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/audit/{audit}": {
            "get": {
                "operationId": "api.v1.audit.show",
                "tags": [
                    "audit"
                ],
                "parameters": [
                    {
                        "name": "audit",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "audit.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/context": {
            "get": {
                "operationId": "api.v1.auth.context",
                "tags": [
                    "auth"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/login": {
            "post": {
                "operationId": "api.v1.auth.login",
                "tags": [
                    "auth"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/logout": {
            "post": {
                "operationId": "api.v1.auth.logout",
                "tags": [
                    "auth"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/me": {
            "get": {
                "operationId": "api.v1.auth.me",
                "tags": [
                    "auth"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/register": {
            "post": {
                "operationId": "api.v1.auth.register",
                "tags": [
                    "auth"
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/commands/log": {
            "post": {
                "operationId": "api.v1.bots.commands.log",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/feedback": {
            "post": {
                "operationId": "api.v1.bots.feedback.store",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/calls": {
            "get": {
                "operationId": "api.v1.bots.me.calls",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/loyalty": {
            "get": {
                "operationId": "api.v1.bots.me.loyalty",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/orders": {
            "get": {
                "operationId": "api.v1.bots.me.orders",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/ready": {
            "get": {
                "operationId": "api.v1.bots.me.ready",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/shift": {
            "get": {
                "operationId": "api.v1.bots.me.shift",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/me/tables": {
            "get": {
                "operationId": "api.v1.bots.me.tables",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/menu": {
            "get": {
                "operationId": "api.v1.bots.menu",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/users/link": {
            "post": {
                "operationId": "api.v1.bots.users.link",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bots/{botKey}/users/{telegramId}": {
            "get": {
                "operationId": "api.v1.bots.users.show",
                "tags": [
                    "bots"
                ],
                "parameters": [
                    {
                        "name": "botKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "telegramId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/branches": {
            "get": {
                "operationId": "api.v1.branches.index",
                "tags": [
                    "branches"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.branches.store",
                "tags": [
                    "branches"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "branches.manage",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/branches/{branch}": {
            "delete": {
                "operationId": "api.v1.branches.destroy",
                "tags": [
                    "branches"
                ],
                "parameters": [
                    {
                        "name": "branch",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "branches.manage",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "api.v1.branches.show",
                "tags": [
                    "branches"
                ],
                "parameters": [
                    {
                        "name": "branch",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "api.v1.branches.update",
                "tags": [
                    "branches"
                ],
                "parameters": [
                    {
                        "name": "branch",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "branches.manage",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm": {
            "get": {
                "operationId": "api.v1.crm.info",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm/customers": {
            "get": {
                "operationId": "api.v1.crm.customers.index",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.crm.customers.store",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.create",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm/customers/{customer}": {
            "delete": {
                "operationId": "api.v1.crm.customers.destroy",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "name": "customer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.delete",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "api.v1.crm.customers.show",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "name": "customer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "api.v1.crm.customers.update",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "name": "customer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm/customers/{customer}/points": {
            "post": {
                "operationId": "api.v1.crm.customers.points",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "name": "customer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm/feedbacks": {
            "get": {
                "operationId": "api.v1.crm.feedbacks.index",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.crm.feedbacks.store",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.create",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm/feedbacks/{feedback}": {
            "get": {
                "operationId": "api.v1.crm.feedbacks.show",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "name": "feedback",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm/feedbacks/{feedback}/resolve": {
            "post": {
                "operationId": "api.v1.crm.feedbacks.resolve",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "name": "feedback",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/crm/loyalty": {
            "get": {
                "operationId": "api.v1.crm.loyalty.index",
                "tags": [
                    "crm"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "crm.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/finance": {
            "get": {
                "operationId": "api.v1.finance.info",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/finance/expenses": {
            "get": {
                "operationId": "api.v1.finance.expenses.index",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.finance.expenses.store",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.create",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/finance/expenses/{expense}": {
            "delete": {
                "operationId": "api.v1.finance.expenses.destroy",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "name": "expense",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.delete",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "api.v1.finance.expenses.show",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "name": "expense",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "api.v1.finance.expenses.update",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "name": "expense",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/finance/payments": {
            "get": {
                "operationId": "api.v1.finance.payments.index",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.finance.payments.store",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.create",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/finance/payments/{payment}": {
            "get": {
                "operationId": "api.v1.finance.payments.show",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "name": "payment",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/finance/payments/{payment}/refund": {
            "post": {
                "operationId": "api.v1.finance.payments.refund",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "name": "payment",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/finance/shifts": {
            "get": {
                "operationId": "api.v1.finance.shifts.index",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/finance/shifts/open": {
            "post": {
                "operationId": "api.v1.finance.shifts.open",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.create",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/finance/shifts/{shift}": {
            "get": {
                "operationId": "api.v1.finance.shifts.show",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "name": "shift",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/finance/shifts/{shift}/close": {
            "post": {
                "operationId": "api.v1.finance.shifts.close",
                "tags": [
                    "finance"
                ],
                "parameters": [
                    {
                        "name": "shift",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "finance.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/inventory": {
            "get": {
                "operationId": "api.v1.inventory.info",
                "tags": [
                    "inventory"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/inventory/ingredients": {
            "get": {
                "operationId": "api.v1.inventory.ingredients.index",
                "tags": [
                    "inventory"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "inventory.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.inventory.ingredients.store",
                "tags": [
                    "inventory"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "inventory.create",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/inventory/ingredients/{ingredient}": {
            "delete": {
                "operationId": "api.v1.inventory.ingredients.destroy",
                "tags": [
                    "inventory"
                ],
                "parameters": [
                    {
                        "name": "ingredient",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "inventory.delete",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "api.v1.inventory.ingredients.show",
                "tags": [
                    "inventory"
                ],
                "parameters": [
                    {
                        "name": "ingredient",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "inventory.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "api.v1.inventory.ingredients.update",
                "tags": [
                    "inventory"
                ],
                "parameters": [
                    {
                        "name": "ingredient",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "inventory.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/inventory/ingredients/{ingredient}/movements": {
            "post": {
                "operationId": "api.v1.inventory.ingredients.move",
                "tags": [
                    "inventory"
                ],
                "parameters": [
                    {
                        "name": "ingredient",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "inventory.update",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/inventory/movements": {
            "get": {
                "operationId": "api.v1.inventory.movements.index",
                "tags": [
                    "inventory"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "inventory.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/inventory/movements/{movement}": {
            "get": {
                "operationId": "api.v1.inventory.movements.show",
                "tags": [
                    "inventory"
                ],
                "parameters": [
                    {
                        "name": "movement",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "inventory.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kitchen": {
            "get": {
                "operationId": "api.v1.kitchen.info",
                "tags": [
                    "kitchen"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kitchen/dispatch": {
            "post": {
                "operationId": "api.v1.kitchen.dispatch",
                "tags": [
                    "kitchen"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "kitchen.create",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kitchen/stations": {
            "get": {
                "operationId": "api.v1.kitchen.stations.index",
                "tags": [
                    "kitchen"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
                        "$ref": "#/components/parameters/XBranch"
                    },
                    {
                        "$ref": "#/components/parameters/XLocale"
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "x-required-permission": "kitchen.view",
                "responses": {
                    "default": {
                        "description": "Success shapes are resource-specific; every failure is the Error envelope with a code from x-error-catalogue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.kitchen.stations.store",
                "tags": [
                    "kitchen"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XTenant"
                    },
                    {
[...]
